.box-medium {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.page-footer {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 60px;
    padding: 20px 0;
}

.info-box {
  text-align: justify !important;
  text-align: left;
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #0065ad;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.info-box-label {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 20px;
  font-size: 110%;
  font-weight: bold;
  border: 1px solid #0065ad;
  background-color: #0065ad;
  color: white;

  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}

.platform {
    min-height: 50px !important;
    height: 50px;
}

.platform img.emblem {
    width: 50px;
    height: 50px;
}

.platform p {
    padding-left: 60px;
    padding-right: 90px;
}

img.qr-code {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 100px;
    height: 100px;
}

div.progressbar {
    padding: 0;
    margin-bottom: 5px;
    border: 1px solid black;
    height: 20px;
}

div.progressbar div.used {
    padding: 0;
    margin: 0;
    background-color: green;
    height: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    float: left;
}

div.progressbar div.free {
    text-align: center;
    font-weight: bold;
    color: #333;
    float: left;
}

.year {
    text-align: center;
    font-size: 2em;
    line-height: 1.5em;
    height: 1.5em;
    font-weight: bold;
}
