body {
    font-family: verdana, arial, serif;
}

img {
    border: 0;
}

ul {
    margin: 2px;
    padding-left: 20px;
}

a {
    color: #0065ad;
    text-decoration: none;
    outline:none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

form {
    text-align: center;
    max-width: 400px;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.diver {
    border: 2px solid #0065ad;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    margin-bottom: 10px;
    padding-bottom: 3px;
    text-align: left;
}

.diver .text {
    padding-left: 10px;
    padding-right: 10px;
}

.diver .title {
    background-color: #0065ad;
    color: white;
    font-weight: bold;
    padding: 2px 5px;
    text-align: left;
    margin-bottom: 3px;
}

.platform {
    border: 2px solid #0065ad;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 5px;
}

.platform img {
    width: 28px; height: 28px; vertical-align: middle
}
